* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    color: white;
    background-color: rgb(49, 46, 46);
}

nav {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    gap: 400px;
    margin-bottom: 30px;
}

.logo {
    font-size: 20px;
}

ol {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: white;
}

.intro-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 40px;
    padding-bottom: 30px;
}

.intro {
    width: 400px;
}

h1 {
    font-size: 40px;
}

.intro p {
    font-size: 18px;
    margin-bottom: 10px;
}

.intro button {
    padding: 8px 25px;
    border-radius: 10px;
    background-color: lightskyblue;
    color: white;
    border: 1px white solid;
}

.placehoder-img {
    height: 200px;
    width: 410px;
}

.info-container {
    text-align: center;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
}

li img {
    height: 150px;
    width: 150px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    justify-content: center;
    margin-bottom: 40px;
}

ul li {
    width: 200px;
}

.quote-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
}

.quote-wrapper {
    width: 800px;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.quote {
    font-size: 25px;
    font-style: italic;
}

.quoter {
    display: flex;
    justify-content: flex-end;
}

.sign-up-container {
    display: flex;
    padding: 60px;
    justify-content: center;
}

.sign-up-wrap {
    width: 60%;
    display: flex;
    justify-content: space-between;
    padding: 40px 60px;
    color: white;
    background-color: rgb(141, 182, 197);
    border-radius: 10px;
}

.sign-up-wrap p {
    font-size: 20px;
}

.sign-up-wrap .title {
    font-size: 30px;
    font-weight: bold;
}

.sign-up-wrap button {
    background-color: rgb(141, 182, 197);
    border-radius: 10px;
    color: white;
    border: 2px white solid;
    padding: 0px 40px;
}

footer {
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: lightcyan;
}





